@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

h1{
    margin: 0;
    padding: 0; 
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* Main page */
.news_list{
    margin-top: 50px;
}

.news_title{
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.news_table{
    border-collapse: collapse;
    width: 100%;
    padding: 0 50px;
}

.news_header_row td{
    padding: 16px 0;
    font-size: 1.6rem;
}

.news_header_row td:not(:first-child){
    color: #000;
    font-weight: 500;
}

.news_header_row td:first-child{
    color: #828282;
}

.news_table_row{
    border-top: 1px solid #E0E0E0;
}

.news_table_row td{
    font-size: 1.6rem;
    padding: 16px 0;
    font-weight: 500;
}

.news_table_row td:nth-child(1){
    color: #828282;
}

.news_table_row td:nth-child(5){
    color: #828282;
    font-weight: 400;
}

.news_table_row td:nth-child(6){
    color: #828282;
    font-weight: 400;
}

.table_btn{
    cursor: pointer;
    border-radius: 10px;
    outline: 0;
    border: 0;
    font-weight: 600;
    color: #000;
    border: 1px solid #828282;
    background-color: transparent;
    padding: 5px;
}

.table_btn:hover{
    background-color: #b0b0b0;
    color: #008000;
}

.delete_btn:hover{
    color: #FF0000;
}

.update_btn:hover{
    color: #FFFF00;
}

.tr_with_anim{
    animation: myAnimation 1s linear forwards;
}

@keyframes myAnimation{
    0%{
        transform: translateY(0);
        opacity: 100;
        color: #000;
        border-bottom-color: #000;
    }
    100%{
        transform: translateY(50px);
        border-bottom-color: #fff;
        color: #fff;
        opacity: 0;
    }
}

/* Create/Update */

.action_page{
    margin-top: 50px;
}

.action_title{
    font-weight: 500;
    font-size: 4.8rem;
    margin-bottom: 20px;
}

.action_form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.action_label{
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
}

.action_field{
    position: relative;
    margin-bottom: 30px;
}

.action_field span{
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    color: red;
    margin-left: 10px;
}

.action_input{
    height: 45px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #07070740;
    box-shadow: 0px 0px 4px 0px #07070740;
    padding-left: 10px;
}

.action_textarea{
    height: 182px;
    width: 100%;
    resize: none;
    border: 1px solid #07070740;
    border-radius: 5px;
    padding: 10px 0 0 10px;
    box-shadow: 0px 0px 4px 0px #07070740;
}

.editor_info{
    display: flex;
    justify-content: space-between;
}

.editor_box{
    position: relative;
    width: 49%;
}

.editor_box span{
    position: absolute;
    display: none;
    width: 200px;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    color: red;
}

.editor_field{
    width: 100%;
}

.editor_field input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #07070740;
    box-shadow: 0px 0px 4px 0px #07070740;
    padding-left: 10px;
}

.form_actions{
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
}

.form_btn{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    padding: 10px 30px;
    border-radius: 10px;
}

.form_btn:hover{
    background-color: #828282;  
    transition: all .2s linear; 
}

.form_btn:nth-child(1){
    margin-right: 10px;
}

.form_btn:nth-child(1):hover{
    color: #FF0000;
}

.form_btn:nth-child(2):hover{
    color: #FFFF00;
}
